name: Docker Matrix Fail-Fast
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest]
        images: [hello-world, alphine, ariefmd12345]

    steps:
      - name: Docker Details
        run: docker info

      - name: Run Image
        run: docker run ${{ matrix.images }}
