name: Sample test1 workflow
on: 
   workflow_dispatch:
jobs:
   build:
      runs-on: ubuntu-latest
      steps:
         - name: Checkout repository
           uses: actions/checkout@v4
        
         - name: File display
           run: cat arief.txt
           
         - name: Display Content12
           run: echo "Hello Arief Mohammad"
